*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding: 133px 30px 133px 30px;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  margin-top: 78px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 26px;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.search-form+button {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.button {
  color: white;
  border: 1px solid white;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
  min-height: 34px;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 194px;
  background-color: transparent;
}

.search-form__fieldset-title {
  padding-bottom: 5px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
}

.content__list {
  display: grid;
  gap: 30px;
  cursor: pointer;
  padding-bottom: 30px;
}

.content__list-container {
  position: relative;
  display: grid;
  height: 298px;
  overflow-y: auto;
}

.more-button {
  width: 100%;
  background-color: inherit;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: contain;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  letter-spacing: 0%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  max-width: 390px; /*увидела рассхождения, но не понимаю, что сделать. размеры макета соблюдала*/
}

.content__video-card-description-container {
  max-width: 196px;
  text-overflow: ellipsis;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__textfield {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #FFFFFFB2;
  min-width: 225px;
  min-height: 27px;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: 0;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.button:active,
.content__card-link_current:active {
  background-color: #545050;
}

.search-form__label:hover .search-form__label-text,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px 0px 1px 0px solid rgba(255, 255, 255, 1);
}

.search-form__label:has(:focus-visible) .search-form__textfield {
  outline-offset: 2px;
}

.button:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}